<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>A1C6CEC18CE3C200A81C77CA22C48633</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
